.one{
    height:20%;
    width:100%;
    background-color: rgb(7, 0, 102);
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    font-size: 21px;
}
h2{
    color:rgb(255, 255, 255);
    
}
.p19{
    height:40px;
    width:160px;
    background-color: aliceblue;
}
.three{
    background-color: white;
    height:100px;
    width:100%;
}
.six{
    background-color: white;
    height:100px;
    width:100%;
}
